a {
  cursor: pointer;
}

.tooltip-wrapper {
  background-color: 'grey';
  width: 100px;
}

.map-wrapper {
  width: auto;
}

.navbar {
  margin-bottom: 0px;
}

.hidden {
  visibility: hidden;
}

.greeting {
	text-align: right;
}


