a {
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  background-color: lightgrey;
  width: 100px;
  left: 10px;
  height: auto;
  font-size: 14px;
  border-radius: 15%;
  font-weight: bold;
  z-index: 1000;
}
.tooltip-wrapper:hover {
  background-image: yellow;
}

.map-wrapper {
  width: auto;
}

.navbar {
  margin-bottom: 0px;
}

.hidden {
  visibility: hidden;
}

.greeting {
	text-align: right;
}


