body {
  background-color: #e7e7e7;
}

a {
  cursor: pointer;
}

p {
  margin-bottom: 2px;
}

.tooltip-wrapper {
  position: relative;
  background-color: lightgrey;
  width: 100px;
  left: 10px;
  height: auto;
  font-size: 14px;
  border-radius: 15%;
  font-weight: bold;
  z-index: 1000;
}

.wrapper {
  padding: 0px;
}

.map-wrapper {
  width: auto;
}

.navbar {
  margin-bottom: 0px;
}

.hidden {
  visibility: hidden;
}

.greeting {
	text-align: right;
}

/*Info Panel*/

.side-wrapper {
  padding: 5px;
}

.bubble-div {
  border-radius: 3px;
  background-color: white;
  margin: 10px 15px 5px 15px;
  padding: 10px 15px;
}

.center-div {
  margin: 5px auto;
  width: 300px; 
  text-align: center;
  padding: 5px;
  border: 1px solid #e1e8ed;

}

h5 {
  margin: 0;
}

.comment-div {
  border-top: 1px solid #e1e8ed;
  margin-top: 3px;
}

.comment-image {
  border-right: 6px solid yellow;

}

.img-span {
  display: inline-block;
}

.comment-span {
  display: inline-block;
  margin-left: 6px;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

.form-control {
  margin-top: 8px;
}

.send-button {
  margin-top: -10px;
}

h3 {
  padding: 15px;
  margin-top: 50px;
}

.sidePanel {
  margin-top: 20px;
}
